BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SpaceBeforeCaseColon: true
SpacesInContainerLiterals: true
Cpp11BracedListStyle: true
SortIncludes: false
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '^.*'
    Priority: 3